.icon-button{
  background: none;
  border: none;
}

input{
  outline: 0;
  padding: 0;
  border: 0;
}
.firstTitle{
  padding: .375rem .75rem;
  height: calc(1.5em + .75rem + 2px);
}

.c-link{
  cursor: pointer;

}

.start-page{
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}

.left-panel{
  height: 100vh;
  position: relative;
}
.bottom-btn{
  position: absolute;
  bottom: 0;
  width: 100%;

}

.no-border{
  border-radius: 0 !important;
}